:root {
  --primary-color: #215321;
  /* forest green */
  --accent1-color: hsl(197, 37%, 24%);
  /* dark slate blue */
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

footer,
header,
main {
  width: 840px;
  margin: 0 auto;
}

header {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.1fr;
  align-items: center;
}

header img {
  width: 70px;
  height: 70px;
}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

.socialmedia a {
  text-decoration: none;

}

/* Style the Hero Div with Overlays */

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero article {
  position: absolute;
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff;
  /* white text – make sure there is enough contrast with the background-color */
}

.hero article {
  position: absolute;
  background-color: var(--accent1-color);
  width: 96%;
  bottom: 8px;
  color: #fff;
  opacity: 0.7;

}

.hero article img {
  float: right;
  width: 100px;
  margin-left: 10px;
}

section h2 {
  text-align: center;
  background-color: var(--accent1-color);
  color: white;
  margin: 0 -25px;
  padding: 1rem;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;

}

nav a {
  text-decoration: none;
}

.history {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem;

}

.adventure {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
}