
table{
    border-collapse: collapse;
    border: gray solid 1.5px;
    letter-spacing: 1px;
}

thead th{
    border: gray solid 1.5px;
}
thead {
    background-color: black;
    color: aliceblue;
    
}
tbody td{
    text-align: center;
    border: gray solid 1.5px;

}
tfoot th{
    border: solid gray 1.5px;
}
tfoot{
    background-color: black;
    color: aliceblue;
}